<%- include('includes/head') %>
<%- include('includes/nav') %>


  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Usuário</h1>
        <p class="text-center lead">Lista de usuários cadastrados</p>

        <%- include('includes/messages') %>

        <% if(usuarios.length > 0) { %>
          <div class="responsive-table">
            <table class="table my-3">
              <% usuarios.forEach(usuario => { %>
              <tr>
                <td><%= usuario.nome %></td>
                <td><%= usuario.sobrenome %></td>
                <td><%= usuario.email %></td>
                <td><%= usuario.telefone %></td>
                <td><%= usuario.naturalidade %></td>
                <td><%= usuario.nacionalidade %></td>
                <td><%= usuario.cidadeResidencia %></td>
                <td><%= usuario.dataNascimento %></td>
                <td><%= usuario.nomeConjugeAtual %></td>
                <td><%= usuario.sobreNomeConjugeAtual %></td>
                <td><a href="/usuario/index/<%= usuario._id %>">Editar</a></td>
                <td><a class="text-danger" href="/usuario/delete/<%= usuario._id %>">Excluir</a></td>
              </tr>
              <% }); %>
            </table>
          </div>
          <% } else { %>
            <p class="text-center lead">Não existem usuario na sua rede social.</p>
          <% } %>

      </div>

      <div class="col-lg-2"></div>
    </div>
  </div>

<%- include('includes/footer') %>

